appdirs==1.4.3
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bleach==2.0.0
certifi==2017.7.27.1
cffi==1.10.0
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
Django==1.11.3
enum34==1.1.6
functools32==3.2.3.post2
gunicorn==19.7.1
html5lib==0.999999999
hyperlink==17.1.1
hypothesis==3.23.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
lxml==4.1.0
matplotlib==2.1.0
nltk==3.2.4
numpy==1.13.3
parsel==1.2.0
pyasn1==0.3.7
pyasn1-modules==0.0.8
pycparser==2.18
PyDispatcher==2.0.5
Pympler==0.5
pyOpenSSL==17.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-decouple==3.1
pytz==2017.2
queuelib==1.4.2
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.4.0
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==4.5.2
Twisted==17.9.0
w3lib==1.18.0
webencodings==0.5.1
whitenoise==3.3.1
zope.interface==4.4.3
